@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
}

.heading {
    font-family: "Clash Display", sans-serif;
  }

.logo {
  font-family: "Clash Display", sans-serif;
  letter-spacing: -0.05em;
}