@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
}

body {
  background: radial-gradient(at top right, #181818, #2c2c2c,#181818);
}

.heading {
    font-family: "Clash Display", sans-serif;
  }

.logo {
  color: transparent;
  font-family: "Clash Display", sans-serif;
  letter-spacing: -0.05em;
  background: linear-gradient(
  90deg,
  #3f3f3f 0%,
  #202020 25%,
  #141414 50%,
  #202020 75%,
  #3f3f3f 100%
);
  background-clip: text;
  --webkit-background-clip: text;
  background-size: 400% 100%;
  animation: shine 6s linear infinite;
}

@keyframes shine {
  from {
    background-position: 400% 50%;
  }
  to {
    background-position: -400% 0%;
  }
}